#login{
	 background-image: linear-gradient(grey, white);
	 background-repeat: no-repeat;
}
#con{
	margin-top: 150px;
}
#main h1{
	color: grey;
	background-color: #003333;
	padding: 20px;
}
#tail{
	color: grey;
	background-color: #003333;
	padding: 30px;
	margin-top: 10px;
}
#tail a{
	color: white;
	text-decoration: bold;
}
#main input{
	margin: 20px 0px 0px 20px;
}
#bot{
	background-color: #cccccc;
	padding: 25px;
}
#welcome{
	background-color: #ffe6b3;
	padding: 1px;
	border-radius: 10px;
}


.dropbtn {
    color: Black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color:  #ff9900;
}
.dropbtn:hover{
    background-color: Black;
    color: white;
    transition: 1s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
nav{
    width: 100%;
    background-color: #ff9900;
}
.dropdown-content a:hover {
    background-color:#4d4d4d;
    color: white;
    transition: 1s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 1s;
}

.dropdown:hover .dropbtn {
    background-color: black;
    color: white;
    transition: 1s;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 18px;
    font-size: 19px;
    font-family: Calibri;
}
nav a:hover{
    color: white;
    background-color: black;
    transition: 1s;
}